<div class="containerFooter">
	<div class="blocFooter">
		<div class="rowFooter">
			<div class="hBloc">
				<h1>Marques</h1>
				<div class="h4Bloc">
					<a href="">Audi</a>
					<a href="">Alfa Romeo</a>
					<a href="">Mercedes</a>
				</div>
			</div>
		</div>
		<div class="rowFooter" id = "blocP">
			<div class="hBloc">
				<h1>Explorez</h1>
				<div class="h4Bloc">
					<a href="{{path('app_brands')}}">Marques</a>
					<a href="{{path('membres')}}">Membres</a>
					<a href="{{path('app_login')}}">Connexion</a>
				</div>
			</div>
		</div>
		<div class="rowFooter">
			<div class="hBloc">
				<h1>Socials</h1>
				<div class="h4Bloc">
					<a href="">GitHub</a>
					<a href="">Discord</a>
					<a href="">Youtube</a>
				</div>
			</div>
		</div>
	</div>
	<div class="copyFooter">Site purement fictif - Aucun des produits présentés n'est disponible à la vente - &copy; Epse 2022 - Examen Symfony</div>
</div>
