<div class="containerFooter">
	<div class="blocFooter">
		<div class="rowFooter">
			<div class="hBloc">
				<h1>Marques</h1>
				<div class="h4Bloc">
					<h4>Audi</h4>
					<h4>Alfa Romeo</h4>
					<h4>Mercedes</h4>
				</div>
			</div>
		</div>
		<div class="rowFooter" id = "blocP">
			<div class="hBloc">
				<h1>Explorez</h1>
				<div class="h4Bloc">
					<h4>Marques</h4>
					<h4>Contact</h4>
					<h4>Connexion</h4>
				</div>
			</div>
		</div>
		<div class="rowFooter">
			<div class="hBloc">
				<h1>Socials</h1>
				<div class="h4Bloc">
					<h4>GitHub</h4>
					<h4>Discord</h4>
					<h4>Youtube</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="copyFooter">Site purement fictif - Aucun des produits présentés n'est disponible à la vente - &copy; Epse 2022 - Examen Symfony</div>
</div>
