<div class="containerNav">
	<nav class = "nav">
		<ul class = "ul">
			<li class ="li"><a class = "link" href="#">Home</a></li>
			<li><a class = "link" href="#">Brands</a></li>
			<li><a class = "link" href="#">Contact</a></li>
			<li><a class = "link" href="#">Connexion</a></li>
		</ul>
	</nav>
	<div id="burger">
		<div class="burgerBar"></div>
		<div class="burgerBar"></div>
		<div class="burgerBar"></div>
	</div>
	<div id="burgerMenu">
		<ul>
			<li>
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">Brands</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
			<li>
				<a href="#">Connexion</a>
			</li>
		</ul>
	</div>
</div>
