<div class="containerNav">
	<nav
		class="nav">
		 <div class="Logo">
		 	{% include '@svg_path/Logo_Exam_header.svg' ignore missing %}
			{% include '@svg_path/Logo_Exam_header2.svg' ignore missing %}
		 </div>
		<div class="containerUl">
			<ul class="ul">
				<li class="li">
					<a class="link" href="#">Home</a>
				</li>
				<li>
					<a class="link" href="#">Marques</a>
				</li>
				<li>
					<a class="link" href="#">Contact</a>
				</li>
				<li>
					<a class="link" href="{{ path('app_login')}}">Connexion</a>
				</li>
			</ul>
		</div>
		<div class="blocFas">
			<i class="fa-solid fa-magnifying-glass"></i>
		</div>
	</nav>
	<div id="burger">
		<div class="burgerBar"></div>
		<div class="burgerBar"></div>
		<div class="burgerBar"></div>
	</div>
	<div id="burgerMenu">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Marques</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Connexion</a></li>
		</ul>
	</div>
</div>
