{% extends 'base.html.twig' %}




{% block body %}
{# <div class="count">
    {{ pagination.getTotalItemCount }}
</div> #}
{% include "./partials/header.html.twig" %}
    <div class="brandsContainer" style = "background-color: rgb(21, 21, 21)">
    {% for marque in marqueCard %}
        <div class="brandsCard">
            <div class="brandsCardTop">
            <div class="brandsCardImage" style = "background-image: url({{ vich_uploader_asset(marque, 'imageFile') }}); background-size: cover; background-position: center;"></div>
            </div>
            <div class="brandCardBottom">
                    <h2>{{ marque.nom | capitalize }}</h2>
                    <a href="{{ path('app_showRoom', {slug: marque.slug}) }}">Visiter la marque</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% include "./partials/footer.html.twig" %}

<script>


function getCurrentURL () {
    return window.location.href
  }

  const url = getCurrentURL()
  const footer = document.querySelector(".containerFooter")
  const el = document.querySelector(".brandsContainer")
  const hBloc = document.querySelectorAll(".hBloc")
  const h4Bloc = document.querySelectorAll(".h4Bloc")
  const bloc2= document.getElementById("blocP")
  const nav = document.querySelector(".containerNav")
  console.log(nav)
  nav.style.position = "relative"
  nav.style.backgroundColor = "rgb(21,21,21)"



  let white = "rgb(231, 231, 231)"


  const value = window.getComputedStyle(el)

  const background = value.getPropertyValue("background-color")
 // console.log(background)

  console.log(url);
  if(window.location.href.indexOf("marques") > -1) {
    footer.style.backgroundColor = background
    footer.style.borderTop = "3px solid white"

    var bloc2Before = window.getComputedStyle(bloc2, "::before")
    console.log(bloc2Before.backgroundColor)
    bloc2.style.setProperty('--before', white)
    bloc2.style.setProperty('--after', white)



    for (const liste of footer.children) {
       // console.log(liste.tagName)
      liste.style.color = white

      hBloc.forEach(enfant => {
        // console.log(enfant)
        for(const hBlocEnfant of enfant.children) {
          //console.log (rowListe)
          hBlocEnfant.style.color = white
        }
      })
       h4Bloc.forEach(h4BlocEnfant => {
        for (const h4BlocListe of h4BlocEnfant.children) {
          h4BlocListe.style.color = white
        }
      })

    }
  }

</script>
{% endblock %}