{% extends 'base.html.twig' %}
{% block title %}New Voitures{% endblock %}


{% block body %}
     <a href="{{path('app_user', {slug: user.slug})}}">Revenir sur mon profil</a>

    <h1>Ajouter une nouvelle voiture</h1>

    {{ include('voitures/_form.html.twig') }}
			{{ encore_entry_link_tags('formCars') }}
               <script>
               const form = document.querySelector('form')
                    if(window.location.href.indexOf("new") > -1) {
                         form.style.padding = " 0 13%"
                    }
               </script>
{% endblock %}
