* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

$color: #fff;
$grey: #666666;
$red: rgb(215, 7, 7);
$view: 100vh;

 body {
    background-color: $color;
    min-height: $view ;
    font-family: 'montserrat';
    overflow-X: hidden;
	margin-bottom: 390px;
	overscroll-behavior: none;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
	}

	.NB {
		text-decoration: none;
	}

.typed-cursor {
	display: none;
}
.cardsCursor {
	z-index: 9999999999999999;
	position: fixed;
	opacity: 2;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	pointer-events: none;
	box-shadow: 0 0 20px rgb(0, 0, 0), 0 0 50px #fff,  0 0 80px #fff,  0 0 80px #fff,  0 0 20px rgb(0, 0, 0), 0 0 20px #fff, inset -0px 0px 6px rgb(0, 0, 0), inset 80px 6px 1px rgb(144, 144, 144);
	display: none;
}


::selection {
	background-color: rgb(188, 57, 57);
	// color: rgb(60, 60, 60);
	color: white;
	text-shadow: none;
}

.containerHome {
  min-height: 88vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: brightness(20%);
	cursor: none;

  .containerHomeTitle {
			display: none;
			align-items: center;
			flex-direction: column;
			justify-content: flex-start;
			box-shadow: 0px 0px 4px rgb(104, 104, 104);
			height: 85px;
			border-radius: 4px;


			h1 {
				color: rgba(63, 63, 63, .9);
				letter-spacing: -.2px;
				font-size: 32px;
				font-family: 'roboto';
			}

			h4 {
				color: rgba(76, 76, 76, 0.4);
				margin-top: 6px;
				font-family: 'roboto';
				letter-spacing: 1px;


          }
		}
	}
	span {
		color : rgb(188, 57, 57)
	}
	.containerHomeBody {
		background: #fff;
		position: relative;
	}
	.containerHomeBodySlideA{
		min-height: 80vh;
		display: flex;
		flex-direction: row;

		&Left{
			flex: 1;
			min-width: 50%;
			min-height: 50vh;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 25px 0 100px;

			&Bloc {
				display: flex;
				padding: 30px 20px;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				height: 50vh;
				border-left: 1px solid rgb(184, 184, 184);
				flex-direction: column;
				color: black;
				font-family: 'roboto';
				text-align: center;

				.button {
					width: 300px;
					height: 50px;
					border: 1px solid $grey;
					display: flex;
					align-items: center;
					justify-content: center;

					&.button:hover {
						border: 1px solid $red;

						a{
							color: $red;
						}
					}
				}

				.linkToCar {
					text-decoration: none;
					color: $grey;
					padding: 15px;
					border: 1px solid $grey;

					&:hover {
						color: $red;
						border: 1px solid $red;

					}
				}

				h2 {
					font-size: 21px;
					color: $red;
					letter-spacing: -.1px;
				}
				h3 {
					font-size: 15px;
					color: #5f5f5f;
					font-weight: lighter;
					padding: 0 6%;
				}
				h4 {
					font-size: 12px;
					opacity: .7;
					color: grey;
				}
			}
		}
		&Right {
			flex: 2;
			min-height: 50vh;
			min-width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 100px 0 25px;
            overflow: hidden;



			&Bloc {
				background-color: rgb(207, 207, 207);
				width: 100%;
				height: 50vh;
                background-size: cover;

            }
		}
	}
    .cardImg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        width: 100%;
        overflow: hidden;
    }
	.containerHomeBodySlideALeft2{
		flex: 1;
		min-width: 50%;
		min-height: 50vh;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 100px 0 25px;
	}
	.containerHomeBodySlideALeftBloc2 {
		display: flex;
	padding: 30px 20px;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 50vh;
	border-right: 1px solid rgb(184, 184, 184);
	flex-direction: column;
	color: black;
	font-family: 'roboto';
	text-align: center;
	h2 {
		font-size: 21px;
		color: $red;
		letter-spacing: -.1px;
	}
	h3 {
		font-size: 15px;
		color: #5f5f5f;
		font-weight: lighter;
		padding: 0 6%;
	}
	h4 {
		font-size: 12px;
		opacity: .7;
		color: grey;
	}
	.linkToCar {
		text-decoration: none;
		color: $grey;
		padding: 15px;
		border: 1px solid $grey;

		&:hover {
			color: $red;
			border: 1px solid $red;

		}
	}
	}

	.containerHomeBodySlideARight2 {
			flex: 2;
			min-height: 50vh;
			min-width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 25px 0 100px;
            overflow: hidden;
	}

	@media all and (max-width: 930px) {
		.containerHomeBodySlideA, .containerHomeBodySlideALeft, .containerHomeBodySlideARight {
			min-width: none;-height: 70vh !important;
		}
		.containerHomeBodySlideALeftBloc, .containerHomeBodySlideARightBloc {
			height: 40vh;
            padding: 30px 0;
            border: none;
		}
		.button {
			max-width: 250px;
		}
        .containerHomeBodySlideA {
            flex-direction: column-reverse;
        }
        .containerHomeBodySlideARight, .containerHomeBodySlideALeft{
            padding: 0 120px;
            min-height: 50vh;
        }
        .containerHomeBodySlideALeft {
            align-items: flex-start;
        }
        .containerHomeBodySlideARight {
            align-items: flex-end;
        }

	}