@import "./scss/navbar.scss";
@import "./scss/home.scss";
@import "./scss/footer.scss";
@import './scss/admin.scss';
@import './scss/brands.scss';
@import './scss/login.scss';
@import './scss/showVoitures.scss';
@import './scss/voitureInfo.scss';






@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

    textarea, input[type="text"] {
        -webkit-appearance: none;
    }
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-font
    ::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
    }
    ::-webkit-scrollbar-thumb {
        background: rgb(156, 155, 155);
        border-radius: 15px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #c20f3f;
    }

    .alert-success {
        background-color: #42b883;
        position: absolute;
        width: 450px;
        height: 58px;
        border-radius: 3px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column  ;
    }
    .alert-danger {
        background-color: #ED4337;
        color: white;
        text-align: center;
    }