@import "~bootstrap/scss/bootstrap";

 body {
//     background-color: #363538;
     min-height: 100vh;
 }

 .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
 }
 form {
    padding: 0 20%;
 }
 .col-4 {
    width: 50%;
 }
form div {
    width: 95%;
}

#col-4 {
    width: 95%;
}
#voitures_images {
margin-top: 20px;
margin-bottom: 10px;
width: 95%;
}
.btn {
    background-color: greenyellow;
    margin-top: 15px;
    width: 100px;
    height: 40px;
}
h1 {
    text-align: center;
    font-size: 29px;
    margin: 40px 0;
}
.backToList {
    position: absolute;
    top: 4px;
    left: 4px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.editCar {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 2px;
    background-color: greenyellow;
    margin-top: 15px;
    border-radius: 8%;
    transition: .3s;
    min-width: 100px;
    display: inline-block;
    text-align: center;
    height: 40px;
}
.editCar:hover {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

form {
    padding: 0;
}
