{% extends 'base.html.twig' %}

{% block body %}
    <pre>
        {{ dump() }}
    </pre>
    <a href="{{path('app_user', {slug: user.slug})}}">Revenir sur mon profil</a>
    {{user.username}}

    {% if user.picture is null %}
        <div class="userProfilePicture" style = "background-image: url('https://picsum.photos/300/300'); background-size:cover; background-repeat: no-repeat"></div>
    {% else %}
     {{user.picture}}
     <h1>ok</h1>
    {% endif %}

{% endblock %}